body {
    background-color: beige;
}
#root {
    margin: 0 auto;
    max-width: 600px;
}
#menu {
    text-align: center;
    margin: 10px 10px;
}
#addcar, #additem {
    display: flex;
    flex-direction: column;
    text-align: center;
}
label {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

