@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {    
    background: no-repeat url('./images/icons/tyre.png');
    background-position: 50% 0;
    font-family: Open Sans;
    font-size: 16px;    
    background-color: #ffffff;
}
h1 {
    text-align: center;
    margin: 0 0;
}
h3 {
    margin: 0 15px;
    text-align: center;
}
#root {    
    margin: 0 auto;
    max-width: 600px;
    padding-left: 5px;
}
#menu {
    margin: 0 auto;
    width: 600px;
}
#menu nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 10px;
}
#addcar, #additem, #editcar{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
#other-costs {
    margin-bottom: 60px;
}
label {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 0 5px;
}
.radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
#item-type {
    display: flex;
    justify-content: center;

}
.reportList, .reportheadercols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.reportheadercols {
    font-weight: 700;
}
.reportList div, .reportheadercols div{
    width: 75px;
    height: 25px;
    font-size: 14px;
}
.reportList button img {
    width: 20px;
}
.reportList div:first-child, .reportheadercols div:last-child{
    width: 80px
}
.reportList div:nth-child(3), .reportheadercols div:nth-child(3){
    width: 55px
}
.reportList div:last-child, .reportheadercols div:last-child{
    width: 50px
}
input[type="text"], input[type="number"], input[type="date"], select, input[type="range"], input[type="password"] {
    border-radius: 8px;
    width: 200px;
    height: 30px;
    border: 1px solid #1100ff;
    box-sizing:border-box;
    color: #000000;
    background-color: #ffffff;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
button {
    font-size: 16px;
    background-color: #1100ff;
    color: #ffffff;    
    border: none;
    border-radius: 8px;
}
#addcar button, #additem button, #editcar button {
    width: 200px;
    height: 40px;
    margin: 10px auto;
}
#backup button {
    width: 100px;
    height: 40px;
    margin: 10px 10px;
}
#backup div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button:disabled,
button[disabled] {
    color: rgb(95, 94, 94);
    background-color: rgb(17, 0, 255, 0.5);
}
button:hover {
    cursor: pointer;
}
#categorylist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#categorylist label {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 5px 5px;
}
#categorylist label input {
    width: 13px;
    height: 13px;
}
#selectcar {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: calc(50% - 100px);
}
#selectcar button, .reportList button {
    background: none;
    width: 30px;
    border: none;
    padding: 0;
    margin: 0 10px;
}
#selectcar button img {
    width: 30px;    
}
#selectcar button:hover{    
    cursor: pointer;
}
#selectcar a img{
    width: 30px;
}
#menu img{
    height: 40px;
    margin: 0 5px;
}
.error {
    color: red;
}
#fuelconsumption {    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.fuelconsumptionrow {
    display: flex;    
}
.reportheader {
    font-weight: 700;
    margin-top: 10px;
}

input[type=range] {
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 10px;
    border-radius: 9px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 10px;
    border-radius: 9px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 10px;
    border-radius: 9px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
  

img:hover {
    margin-top: -5px;
    transition: 0.5s;
}
#period {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}
#period input {
    margin: 0 15px 0 5px;
    max-width: 200px;
}  
#fuelconsumption div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
}
#refueling, #other-costs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#refueling {    
    padding-top: 60px;
}
#carlist {
    margin: 10px auto;
    width: 300px;
}
#carlist div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}
#carlist button {
    background: none;
}
#carlist div img {
    width: 30px;
}
#menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}




/* Customize the label (the container) */
.container {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: calc(50% - 7.5px);
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #1100ff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  
  /* Create a custom radio button */
  .checkmarkradio {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #1100ff;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmarkradio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmarkradio {
    background-color: #1100ff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmarkradio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmarkradio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmarkradio:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
 

@media (max-width: 475px) {
    #selectcar button img {
        width: 20px;
    }
    #selectcar a img {
        width: 20px;        
    }
    label {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 350px) {
    #period {
        flex-direction: column;
        align-items: center;
    }
}